<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8"/>
	<meta name="description" content="NoSQL Team Project"/>
	<meta name="keywords" content="HTML, CSS"/>
	<meta name="version" content="1.0"/>
	<meta name="author" content="Nguyen Hoang Trieu"/>
	<title>Sale (Generic)</title>
	<link href="styles/globallayout.css" rel="stylesheet"/>
	<link href="styles/globaltext.css" rel="stylesheet"/>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link href="styles/makeSales.css" />
	
    <script src='scripts/index.js'></script>

	<%if (query.Page == "MakeSales") { %>
	    <script src='scripts/makeSales.js'></script>
	<% } %>

	<%if (query.Page == "ManageItems") { %>
	    <script src='scripts/itemManager.js'></script>
	<% } %>

	<%if (query.Page == "ManageSales") { %>
	    <script src='scripts/salesRecordsManagement.js'></script>
	<% } %>

	<%if (query.Page == "Predictions") { %>
	    <script src='scripts/prediction.js'></script>
	<% } %>
</head>

<body onload="initIndex(); init();">
	<header>
		<!--Title-->
		<h1>NoSQL Team Project</h1>
		
		<!-- menu -->
		<nav>
			<a href="http://localhost:2089/?Page=MakeSales">MAKE SALES</a>
			<a href="http://localhost:2089/?Page=ManageItems">MANAGE ITEMS</a>
			<a href="http://localhost:2089/?Page=ManageSales">VIEW SALES RECORDS</a>
			<a href="http://localhost:2089/?Page=Predictions">PREDICTIONS</a>
			<div style="width:10%; position:center;"id="lowStockContainer" onmouseover="showLowStockItems()" onmouseout="hideLowStockItems()">
				<h1 id="stockLowAlert">Stock is low</h1>
				<div style="position:absolute; left:inherit" id="lowStockNotificationDisplay" hidden></div>
			</div>
		</nav>
	</header>
	
	<section>
		<%if (query.Page == "MakeSales") { %>
		<%- include makeSales.ejs %>
		<% } %>

		<%if (query.Page == "ManageItems") { %>
		<%- include itemManager.ejs %>
		<% } %>

		<%if (query.Page == "ManageSales") { %>
		<%- include salesRecordsManagement.ejs %>
		<% } %>

		<%if (query.Page == "Predictions") { %>
		<%- include prediction.ejs %>
		<% } %>
	</section>
	
	<footer>
		<h4>Contact us: <a href="">nosqlteam@gmail.com</a></h4>
	</footer>
            
<script src = "/bower_components/jquery/dist/jquery.js"></script>
<script src = "/bower_components/angular/angular.js"></script>
<script src = "/bower_components/angular-route/angular-route.js"></script>
<script src = "/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src = "/app.js"></script>
<script src = "/controller/itemController.js"></script>  
</body>
</html>