<div ng-controller = "itemController">
<div style="width: 100%; float: left;    
    background: linear-gradient(to top left, #333, #ddd);    padding: 10px;
    padding-right: 0px;
    padding-left: 0;">
   <input type="search" name="q" placeholder="Type your query"> 
   <input type="submit" value="Search">
   <select>
   <option>Filter1</option>
   <option>Filter2</option>
   </select>

</div>

 <div class="block-left" >
              <div  ng-init="getItems()">                        
                            <table class = "table table-responsive table-bordered table-striped table hover" id = "itemTable">
                                 <thead>
                                      <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th> Total Price</th>
                                      </tr>
                                </thead>
                                    <tr ng-repeat = "item in returnedItems">
                                        <td>{{item.name}}</td>
                                        <td id="itemPrice">{{item.price}}</td>
                                        <td><input type="number" name="itemQuantity" id="itemStock" ng-model="itemQuantity" maxlength="50" size="50" required="required" pattern="[0-9]{1,25}"/>
                                        </td>
                                        <td id="totalSingleItemPrice"></td>
                                        <td><button type = "button" ng-click="calculatePrice(item, itemQuantity)">Add</button></td>
                                  </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Total</td>
                                </tr>
                                  
                            </table>
                                
                        
                    </div>
        </div>
       

<div class="block-right">
    <table id="table2">
        <tr>
            <th>Item</th>
            <th></th>
            <th>Total Price</th>
        </tr>
        <tr ng-repeat = "saleitem in salesItems">
            <td>{{saleitem.name}}</td>
            <td><a href="javascript:void()" class="button rmv">Remove</a></td>
            <td>{{saleitem.totalPrice}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Total:</td>
            <td>{{totalSalePrice}}</td>
        </tr>
        
        
</table>
    <div><button id="checkoutBtn" type= "button">Checkout!</button></div>
</div>
</div>

<script src="script/makeSales.js"></script>
