<h1>General reports</h1>
<table id="reportDisplay"></table>
<button onclick="downloadCsv('reportDisplay')">Download table as csv</button></br>
Create report between <input type="date" id="minDate"></input> and <input type="date" id="maxDate"></input><button onclick="addReportFromRange()">Go</button>


<h1>Item reports</h1>
<table id="itemReportDisplay"></table>
<button onclick="downloadCsv('itemReportDisplay')">Download table as csv</button></br>
Create item report for <select id="itemDropdown"></select> between <input type="date" id="itemMinDate"></input> and <input type="date" id="itemMaxDate"></input><button onclick="addItemSpecifficReportFromRange()">Go</button>

<h1>Most profitable items in the last 30 days</h1>
<table id="itemProfitDisplay"></table>
<button onclick="downloadCsv('itemProfitDisplay')">Download table as csv</button></br>

<h1>Most profitable items of all time</h1>
<table id="itemProfitDisplayAllTime"></table>
<button onclick="downloadCsv('itemProfitDisplayAllTime')">Download table as csv</button></br>