<table id="reportDisplay"></table>

Create report between <input type="date" id="minDate"></input> and <input type="date" id="maxDate"></input><button onclick="addReportFromRange()">Go</button>



<table id="itemReportDisplay"></table>

Create item report for <select id="itemDropdown"></select> between <input type="date" id="itemMinDate"></input> and <input type="date" id="itemMaxDate"></input><button onclick="addItemSpecifficReportFromRange()">Go</button>